/*#####################################################################################################################
|                                                                                                                      |
|                                                 CREATE ACCOUNT PAGE                                                  |
|                                                                                                                      |
######################################################################################################################*/

/* Global style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    height: 100vh;
    overflow-y: scroll;

    background-image: url("../images/background-login.jpg");
}

h1 {
    padding: 0 20px;
    margin-top: 30px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* Header of the page */
.top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 20%;
    min-height: 175px;
}

.top-part img {
    height: 100px;
    border-radius: 10px;
}

.top-part a {
    position: absolute;
    top: 30px;
    left: 30px;

    background-color: #3D8BF2;
    padding: 15px;
    border-radius: 15px;

    color: #FFFFFF;
    text-decoration: none;
}

.top-part a:hover {
    background-color: #0000FF;
}

/* Layout for the bottom page */
.new-account-form {
    height: 80%;

    display: flex;
    justify-content: center;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                                MEDIA QUERIE FOR FORMS                                                |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1200px) {
    .top-part a {
        position: absolute;
        top: unset;
        bottom: 30px;
        left: 30px;

        background-color: #3D8BF2;
        padding: 15px;
        border-radius: 15px;

        color: #FFFFFF;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    .top-part img {
        height: 70px;
    }

    h1 {
        font-size: 20px;
    }

    .top-part a {
        display: none;
    }
}
