/*#####################################################################################################################
|                                                                                                                      |
|                                             LAYOUT FOR THE CONNECTED PAGES                                           |
|                                                                                                                      |
######################################################################################################################*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* General layout */
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 10px;

    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0 10px;

    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url("../images/background-login.jpg");
    background-attachment: fixed;
}

.container-content {
    width: 60%;
    height: 100%;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 4px solid #3D8BF2;
    border-radius: 15px;

    background-color: #FFFFFF;
}

/* Layout of the navigation menu */
.navigation-part {
    display: flex;
    flex-direction: column;

    min-height: 175px;
}

.navigation-part nav ul {
    margin-bottom: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

.navigation-part nav ul li {
    list-style: none;

    margin-bottom: 20px;

    width: 20%;
    min-width: 110px;
}

.navigation-part nav ul li:hover {
    list-style: none;
    border-bottom: #3D8BF2 solid 2px;

    width: 20%;
}

.navigation-part nav ul .selected {
    list-style: none;
    border-bottom: #3D8BF2 solid 2px;

    width: 20%;
}

.navigation-part nav ul li a {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;
    color: black;
}

/* Button and form size formatting */
.edit-part, .expenses-part  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-part form, .expenses-part form {
    width: 60%;
}

.edit-part form button, .expenses-part form button {
    width: 250px;
    height: 50px;
}

.warning {
    margin-top: 10px;

    font-weight: bold;
    color: red;
    font-size: 12px;
    text-align: center;
}


/* Footer shaping */
footer {
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 0 auto 20px auto;

    border-top: 1px solid lightgray;
}

footer div {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    text-align: center;
}

footer p {
    text-align: center;
    margin-bottom: 20px;
}

footer div a {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    color : black;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                           MEDIA QUERIE FOR THE CONNECTED PAGES                                       |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width : 1450px) {
    .container-content {
        width: 80%;
    }
}

@media screen and (max-width: 1400px) {
    footer {
        width: 85%;
    }
}

@media screen and (max-width : 1000px) {
    .container-content {
        width: 95%;
    }
}

@media screen and (max-width : 750px) {
    .edit-part form, .expenses-part form {
        width: 80%;
    }
}

@media screen and (max-width : 650px) {
    .edit-part form, .expenses-part form {
        width: 95%;
    }
}

@media screen and (max-width : 600px) {
    .navigation-part nav ul li {
        margin: 10px 5px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(61, 139, 242, 0.75);
    }

    .navigation-part nav ul li:hover {
        border: none;
    }

    .navigation-part nav ul .selected {
        background-color: rgba(61, 139, 242, 0.51);
        border: none;
    }
}
