/*#####################################################################################################################
|                                                                                                                      |
|                                                        FORM                                                          |
|                                                                                                                      |
######################################################################################################################*/

/* Formatting the contents of tables and forms */
form {
    margin-top: 20px;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form .case_infos {
    width: 80%;

    display: flex;
    flex-direction: column;

    background-color: #F8F8F8;
    border: 2px solid #3D8BF2;
    border-radius: 5px;

    padding: 10px 30px 10px 22px;
    margin-top: 15px;
}

form .case_infos:hover {
    border: 2px solid lightgray;
}

form .case_infos input, form .case_infos select {
    outline: none;

    width: 90%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid lightgray;
    background-color: #fdfdfd;
}

form .case_infos input[type="file"] {
    margin-bottom: 5px;
}

form .case_infos label {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

form button {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 14px;
    width: 200px;

    border-radius: 15px;
    border: 0;
    background-color: #3D8BF2;
    outline: none;

    color: white;
    font-size: 16px;
}

form button:hover {
    background-color: #0000FF;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                                MEDIA QUERIE FOR FORMS                                                |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1000px) {
    form {
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 95%;
    }
}
