/*#####################################################################################################################
|                                                                                                                      |
|                                                        HOME PAGE                                                     |
|                                                                                                                      |
######################################################################################################################*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    height: 100vh;
    overflow: hidden;

    background-image: url("../images/background-login.jpg");
}

h1 {
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
}


/* page header */
.top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 35%;
    min-height: 150px;
}

.top-part img {
    height: 100px;
}


/* page content */
.bottom-part {
    display: flex;

    height: 65%;
    width: 100%;
    min-height: 700px;
}

/* Form for the connexnion */
.bottom-part .connexion {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60%;
    width: 60%;
    min-height: 325px;
}

.bottom-part .connexion form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 75%;
    padding: 20px;

    border-radius: 15px;
    background-color: #FFFFFF;
}

input[type="email"], input[type="password"] {
    margin-top: 20px;
    padding: 12px;
    width: 250px;

    border-radius: 15px;
    border:3px solid #3D8BF2;
    outline: none;

    text-align: center;
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 3px solid #0000FF;
}

input[type="email"]:hover, input[type="password"]:hover {
    border: 3px solid #0000FF;
}

::placeholder {
    font-size: 16px;
}


button[type="submit"] {
    margin-top: 40px;
    padding: 14px;
    width: 200px;

    border-radius: 15px;
    border: 0;
    background-color: #3D8BF2;
    outline: none;

    color: white;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0000FF;
}

button[type="submit"]:focus {
    background-color: #0000FF;
}

/* Link for create a new account */
.bottom-part .create-account {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60%;
    width: 60%;
}

.bottom-part .create-account div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 60%;
    height: 75%;
    padding: 20px;

    border-radius: 15px;
    background-color: #FFFFFF;
}

.bottom-part .create-account a {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 15px;
    background-color: #3D8BF2;

    color: white;
    font-size: 16px;
    text-decoration: none;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                           MEDIA QUERIE FOR THE HOME PAGE                                             |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 950px) {
    .bottom-part {
        flex-direction: column;
    }

    .bottom-part .connexion {
        width: 100%;
        height: 60%;
    }

    .bottom-part .create-account {
        width: 100%;
        height: 30%;
    }

    .bottom-part .create-account a {
        margin: 30px 0 20px 0;
    }
}

@media screen and (max-width: 500px) {
    .bottom-part .connexion {
        margin-bottom: 25px;
    }

    .bottom-part .connexion form {
        width: 90%;
        height: 300px;
        padding: 0;
    }

    input[type="email"], input[type="password"] {
        width: 80%;
    }

    .bottom-part .create-account div {
        width: 80%;
    }

    .top-part img {
        height: 50px;
        border-radius: 10px;
    }

    h1 {
        margin-top: 15px;
        font-size: 25px;
    }

    main {
        height: 100%;
        overflow-y: scroll;
    }
}
