/*#####################################################################################################################
|                                                                                                                      |
|                                                   VALIDATION PAGE                                                    |
|                                                                                                                      |
######################################################################################################################*/

* {
    margin: 0;
    padding: 0;
}

/* */
main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/background-login.jpg");
}

.container-content {
    height: 40%;
    width: 40%;
    min-height: 350px;

    padding: 20px;

    background-color: #3D8BF2;
    border-radius: 15px;
}

.container-content .text-part {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-content .text-part h2 {
    color: white;

    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

    margin: 40px 0;
}

.container-content .text-part p {
    color: white;

    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.container-content .link-part {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-content .link-part a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    margin-top: 20px;

    background-color: #3D8BF2;
    border-radius: 15px;
    border : 2px solid #FFFFFF;

    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.container-content .link-part a:hover {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #3D8BF2;
}


/*#####################################################################################################################
|                                                                                                                      |
|                                        MEDIA QUERIES FOR THE VALIDATION PAGE                                         |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width: 1000px) {
    .container-content {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .container-content {
        width: 85%;
    }
}
