/* */
.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-user .container-icon {
    padding: 8px;
    margin-bottom: 30px;

    background-color: #FFFFFF;
    border: 3px solid black;
    border-radius: 100px;
}

.info-user .container-icon div {
    background-color: #FFFFFF;
    border: 4px solid black;
    border-radius: 100px;
}

.info-user div div img{
    padding: 10px;
    height: 80px;
    width: 80px;
}

.container-info {
    width: 35%;
    margin-bottom: 50px;
}

.container-info .info {
    margin-top: 20px;
    padding: 0 15px;

    width: 90%;
    height: 40px;

    display: flex;
    align-items: center;

    border-radius: 15px;
    border: 3px solid #3D8BF2;
}

.container-info .info p:first-child{
    width: 125px;

    font-weight: bold;
}

.files-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.files-container .table-container {
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 70px;

    border: 4px solid #3D8BF2;
}

.files-container .table-container .table-row {
    display: block;
    width: 100%;
    margin: 30px 0;
}

.files-container .table-container .table-content {
    width: 80vw;
    min-height: 20px;
    margin: 10px 0 5px 10px;

    font-size: 15px;
    color: #000000;
}

.files-container .table-container .table-content p {
    margin-left: 10px;
}

.files-container .table-container .table-content:before {
    font-size: 15px;
    font-weight: bolder;
    color: #808080;

    margin: 5px 10px;
    padding-bottom: 5px;
    width: 85%;
    border-bottom: 1px solid #D0D0D0;

    content: attr(data-title);
    display: block;
}

/*#####################################################################################################################
|                                                                                                                      |
|                                           MEDIA QUERIE FOR THE CONNECTED PAGES                                       |
|                                                                                                                      |
######################################################################################################################*/
@media screen and (max-width : 1450px) {
    .container-info {
        width: 60%;
        margin-bottom: 50px;;
    }

    .files-container .table-container {
        width: 80%;
    }
}

@media screen and (max-width : 600px) {
    .container-info {
        width: 90%;
        margin-bottom: 50px;;
    }

    .files-container .table-container {
        width: 95%;
    }
}

@media screen and (max-width : 450px) {
    .container-info .info {
        min-height: 40px;
        height: auto;
    }
}



